body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
}

#layers {
	position: absolute;
}

#images {
	display: none;
}

#video {
	display: none;
}

.layer {
	position: absolute;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

@font-face {
    font-family: 'PressStart2P';
    src: url('PressStart2P-font.ttf');
}

#start {
	width: 100%;
	min-height: 100vh;
	background-color: #555;
}

#logo {
	display: block;
	float: left;
	height: 50vh;
	margin: 30px 30px 30px 30px;
}

#rightSide {
	display: block;
	float: right;
	width: calc(100% - 120px - 50vh);
	margin: 30px 30px 30px 30px;
}

#title {
	font-family: "PressStart2p";
	font-size: 50px;
	width: 100%;
	text-align: center;
	color: #ff0;
	margin-bottom: 30px;
}

#paragraph {
	font-family: "PressStart2p";
	font-size: 20px;
	width: 100%;
	color: #ff0;
	line-height: 40px;
}

#start {
	display: block;
	float:right;
	font-family: "PressStart2p";
	font-size: 50px;
	width: 100%;
	text-align: center;
	color: #ff0;
	margin-top: 30px;
}

#outer {
	width: 100%;
	display: block;
}